<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">

</head>
<body>
<header>
<h1 class="text-center display-4">
     <a class="text-success" href={{ url_for('message') }} >
        <strong>Say Hello</strong>
     </a>
    <small class="text-muted sub-title">to the world</small>
    </h1>
</header>
<h3>留言</h3>
<p>{{ messageall.name }}</p>
  <ul class="message-list">
        {% for message in messageall %}
        <li>{{ message.name }}-{{ message.message }}--{{ message.create_time }}
        </li>
        {% endfor %}
    </ul>
<div class="hello-form">
    <form method="post">
     <div class="form-group required"><label class="form-group" for="body">Username</label>
        <input class="form-control" type="text" name="Username" autocomplete="off" required>
     </div>
        <div class="form-group required"><label class="form-group" for="body">Message</label>
        <textarea class="form-group form-control" id="body" name="Message" required=""></textarea>
        <input class="btn btn-secondary" type="submit" name="submit" value="提交">
        </div>
    </form>
    </div>
<script src="moment.js">
    outtime=
</script>
</body>